@page "/article"

<PageTitle>Articles</PageTitle>

<h1>Articles</h1>


qdsfqsdùfpokdqsùfokqsdùfpodkqsfùdoqsk fùdqsfjdqs d,qsmfl njqsdnjdml nfqsdf qsd





<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
