@page "/"

<PageTitle>Gestion des consommables - Ville de Mouscron</PageTitle>

<style>

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-container img {
        margin-bottom: 10px;
    }

    .survey-prompt {
        font-size: 16px;
        margin-top: 30px;
    }

    .footer {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
</style>

<h1>Bienvenue dans le système de gestion des consommables</h1>

<div class="logo-container">
    <img src="/images/logoVille.png" height="100" alt="Logo de la Ville de Mouscron" />
    <img src="/images/GesConso_logo.png" height="300" alt="LogoGestionConso" />
</div>

<p>Nouvelle application de gestion des consommables.</p><p>Ce programme vous permet de suivre et de gérer les consommables utilisés dans les différents services de la Ville de Mouscron.</p>

<div class="survey-prompt">
    <SurveyPrompt Title="Comment trouvez-vous le système de gestion des consommables ?" />
</div>
